.header_container {
    background-color: red;
    height: 25%;
    font-family: "Earwig", "Personafied", sans-serif;
    text-align: center;
    display: flex;
}
.header_title_container {
    justify-content: center;
    align-content: center;

}
.hat {
    max-height: 150px;

};
.hat_container {
    justify-content: center;
    align-content: center;
}
.header_font {
    color: black;
    font-size: 4vmax;
}
.header_title_image{
    max-height: 150px;
    height: auto;
    min-width: 150px;
    width: 100%;
    margin-top: 6px;
}