.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
@font-face {
  font-family: "Personafied";
  src: url("./assets/fonts/PersonifiedUXRegular.woff") format('woff')
}
@font-face {
  font-family: "Earwig";
  src: url("./assets/fonts/EarwigFactory-Regular.woff") format('woff')
}
.mid_section {
  display: flex;
  position: relative;
  height: 50%;
}
.app_container{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.status_screen {
  background-color: #7E5555;
  height: 100%;
  display: inline-block;
}
.app_footer {
  background: black;
  height: 25%;
}
.player_turn_container {
  display: flex;
  justify-content: center;
}
.player_turn_container>div {
  padding-right: 12px;
  padding-left: 12px;
}
.button_container {
  display: flex;
  justify-content: space-around;
}
.button_container > button {
  margin-top: 10px;
}
.current_turn {
  color: red;
  font-family: "Earwig";
  font-size: 4vh;
}
.current_turn_name {
  color: white;
  font-family: "Personafied";
  font-size: 4vh;
}
.game_container {
  height: 100%;
  width: 100%;
}