.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
@font-face {
  font-family: "Personafied";
  src: url("./assets/fonts/PersonifiedUXRegular.woff") format('woff')
}
@font-face {
  font-family: "Earwig";
  src: url("./assets/fonts/EarwigFactory-Regular.woff") format('woff')
}